@import url('https://fonts.googleapis.com/css2?family=Modak&family=Readex+Pro:wght@200;400;700&display=swap');


.navbar-item img {
    max-height: 3rem;
 }
 

img {
    height: 6rem;
}

.appLogo {
    margin: 0.5rem 2rem;
}

nav {
    height: 9rem;
}

.navbar-nav-links {
    display: flex;
    flex-wrap: wrap;
    
}

.navbar-nav {
    padding-left: 0;
}

.nav-item {
    list-style-type: none;
    padding: 2rem;
}

.logout-btn {
    font-family: "Readex Pro";
    font-size: 1.5rem;
    background-color:rgb(136, 178, 189);
    border-radius: 6px;
    padding: 0.25rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-link {
    color: rgb(109, 175, 192)
}

